html {
    background-color: rgb(7, 138, 155);
}

#alphabet {
    margin:15px auto;
    padding:0;
    max-width:900px;
}

#alphabet li {
    float:left;
    margin: 0 10px 10px 0;
    list-style:none;
    width:35px;
    height:30px;
    padding-top:10px;
    background:white;
    color:base-color;
    border: solid 1px black;
  }

  #letter li {
    
  }